/* Modal Animations */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 40%; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 40%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(0deg) skewX(0deg);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate(-5deg) skewX(-5deg);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) rotate(5deg) skewX(-5deg);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0) rotate(-8deg) skewX(-8deg);
  }
}

@keyframes bounce {
  10% {
    transform: scale(1.4, 0.5);
  }
  40% {
    transform: scale(0.5, 1.4);
  }
  50% {
    transform: scale(1.2, 0.7);
  }
  60% {
    transform: scale(0.7, 1.2);
  }
  70% {
    transform: scale(1.1, 0.8);
  }
  70% {
    transform: scale(0.8, 1.1);
  }
  80% {
    transform: scale(1, 0.9);
  }
  90% {
    transform: scale(1, 1);
  }

  /* original */
  /* 10%, 90% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(1.4, 0.5);
  }
  80% {
    transform: scale(0.5, 1.4);
  } */
}
