#gameBoard {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.cardContainer {
  border: 1px solid black;
  /* width: 170px; */
  width: calc((25% - 12px));
  height: 170px;
  margin: 5px;
  perspective: 1000px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style:preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  display: block;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

.front {
  transform: rotateY(180deg);
}

.back {
}

.card.flip {
  transform: rotateY(180deg);
}

.found {
  pointer-events: none;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
}
