/* .card, */
#gameBoard,
header {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 376px) {
  #gameStatus,
  .levelSelector,
  #counter,
  button,
  .starRating {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .icon {
    top: 15%;
  }
}

@media screen and (max-width: 668px) {
  #logo {
    width: 45px;
    height: 45px;
  }
  h1 {
    font-size: 25px;
  }
  .cardContainer.easy {
    min-height: 75px;
  }
}

@media screen and (min-width: 669px) {
  h1 {
    font-size: 40px;
  }
  #logo {
    width: 85px;
    height: 65px;
  }
  #gameStatus,
  .levelSelector,
  #counter,
  button,
  .starRating {
    font-size: 18px;
  }
  .modal-header{
    font-size: 32px;
  }
  .modal-body {
    font-size: 16px;
  }
  .modal-footer {
    font-size: 22px;
  }
  .icon {
    top: 0%;
  }
}

@media screen and (min-width: 1000px) {
  .modal-header{
    font-size: 38px;
  }
  #gameStatus,
  #counter,
  #starRating {
    font-size: 20px;
  }
  .modal-body {
    font-size: 22px;
  }
  .modal-footer {
    font-size: 28px;
  }
}
